/* General Page Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}


article {
  width: 700px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  font-style: italic;
}

header {
  text-align: center;
  margin-bottom: 20px;
  border-top: 1px solid #fff;
  border: 2px solid #000;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
  font-weight: bold;
}
section {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 20px;
    border: 2px solid green;
padding: 10px;
background-color: #f8f6dd;
font-style: italic;
}

aside {
  background-color: #ffffff;
  padding: 15px;
  border-left: 4px solid #666;
  margin-top: 30px;
  font-size: 0.95rem;
  text-align: right;
}

aside::first-line {
  font-weight: bold;
  font-variant: small-caps;
}

footer {
  text-align: right;
  font-size: 0.9rem;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: #666;
font-style: italic;
}

footer a:link {
  color: #0066cc;
  text-decoration: none;
 
}